<div class="jumbotron">
  <h1>Welcome to Drinks!</h1>
  <p>We got all kinds! Check em out below!</p>
  <div class="container">
    <table class="table">
      <tr>
        <th>Drink Name</th>
        <th>Price</th>
      </tr>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= link_to drink.name, drink_path(drink) %></td>
      <td><%= link_to "$#{drink.price}", drink_path(drink) %></td>
    </tr>
      <% end %>
    </table>
  </div>
</div>
